*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

/* navbar started */

nav{
    position: relative;
    background-color: black;
    color: white;
    height: 8vh;
}

#left_nav{
    width: 15%;
    position: absolute;
    top: 30%;
    display: flex;
    justify-content: space-between;
    
}
li a{
    text-decoration: none;
    color: white;
}
#right_nav{
    position: absolute;
    width: 15%;
    right: 3%;
    top: 30%;
    display: flex;
    justify-content: space-between;
}

nav li{
    list-style: none;
}


/* dish_container started */

#dish_container{
    display: grid;
    grid-template-columns: repeat(4, 1fr);

}

#dish_container div{
    border: 1px solid black;
}

#dish_container div image{
    width: 100%;
}